# Supabase Configuration
VITE_SUPABASE_URL=https://zahkrafltxhvttoxhars.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphaGtyYWZsdHhodnR0b3hoYXJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MzEyMzUsImV4cCI6MjA5NTEwNzIzNX0.9SztWyVUtYDShwxe7yoSmTQpxNe3-mWJ4f4vyHUtCfU

# API Keys
GEMINI_API_KEY=your_gemini_api_key
GROQ_API_KEY=your_groq_api_key
